<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.shop.web.event.repository.master.EvEventRouletteJoinMemberDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.shop.web.event.model.master.EvEventRouletteJoinMember">
    
     /*+ kr.co.shop.web.event.repository.master.EvEventRouletteJoinMemberDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */  
    
		SELECT 
			<include refid="select-columns" />
		FROM 
			ev_event_roulette_join_member
		WHERE 
			<include refid="pk-columns" /> 
    </select>
    
    <select id="selectEventRouletteJoinMemberCount" parameterType="kr.co.shop.web.event.model.master.EvEventRouletteJoinMember" resultType="int">
    /*+ kr.co.shop.web.event.repository.master.EvEventRouletteJoinMemberDao.selectEventRouletteJoinMemberCount [이벤트 룰렛 회원 참여 수 쿼리] [이지훈] */
    	SELECT 
			COUNT(*)
		FROM 
			EV_EVENT_ROULETTE_JOIN_MEMBER
		WHERE MEMBER_NO = #{memberNo, jdbcType=VARCHAR}	
		<if test='limitType != null and limitType = "D" '>
			AND TO_CHAR(SYSDATE, 'YYYYMMDD') = TO_CHAR(JOIN_DTM, 'YYYYMMDD')
		</if>
    </select>

</mapper>