<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.shop.web.promotion.repository.master.PrPlanningDisplayCornerDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.shop.web.promotion.model.master.PrPlanningDisplayCorner">
    
     /*+ kr.co.shop.web.promotion.repository.master.PrPlanningDisplayCornerDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */  
    
		SELECT 
			<include refid="select-columns" />
		FROM 
			PR_PLANNING_DISPLAY_CORNER
		WHERE 
			<include refid="pk-columns" /> 
    </select>
        
    <!--  -->
    <resultMap type="kr.co.shop.web.promotion.model.master.PrPlanningDisplayCorner" id="prPlanningDisplayCornerResultMap" autoMapping="true">
    	<id property="plndpCornerSeq" column="plndp_corner_seq"/>
    	<collection property="prPlanningDisplayCornerProducts" ofType="kr.co.shop.web.promotion.model.master.PrPlanningDisplayCornerProduct" resultMap="prPlanningDisplayCornerProductResultMap" columnPrefix="cp_"/>
    </resultMap>
    
    <resultMap type="kr.co.shop.web.promotion.model.master.PrPlanningDisplayCornerProduct" id="prPlanningDisplayCornerProductResultMap" autoMapping="true">
    	<id property="plndpCornerSeq" column="plndp_corner_seq" />
    </resultMap>
    <!--  -->
    
    <select id="selectPrPlanningDisplayCornerList" parameterType="kr.co.shop.web.promotion.model.master.PrPlanningDisplay" resultMap="prPlanningDisplayCornerResultMap">
    /*+ kr.co.shop.web.promotion.repository.master.PrPlanningDisplayCornerDao.selectPrPlanningDisplayCornerList [기획전 소제목 리스트 조회] [이가영] */
    
    	SELECT
			A.plndp_no,
			A.plndp_corner_seq,
			A.plndp_corner_name,
			A.corner_name_disp_type,
			A.image_name,
			A.image_path_text,
			A.image_url,
			A.altrn_text,
			A.pc_disp_type_code,
			A.mobile_disp_type_code,
			A.sort_seq,
			A.corner_desc_text,
			A.use_yn,
			B.prdt_no as cp_prdt_no,
			B.sort_seq as cp_sort_seq
		FROM
			PR_PLANNING_DISPLAY_CORNER A
		LEFT OUTER JOIN PR_PLANNING_DISPLAY_CORNER_PRODUCT B ON A.plndp_corner_seq = B.plndp_corner_seq
		<where>
			A.use_yn = 'Y'
			<if test="plndpNo != null and plndpNo != ''">
				AND A.plndp_no = #{plndpNo, jdbcType=VARCHAR}
			</if>
    		<if test="plndpCornerSeq != null and plndpCornerSeq != ''">
    			AND a.plndp_corner_seq = #{plndpCornerSeq, jdbcType=VARCHAR}
    		</if>
		</where>
    	ORDER BY A.sort_seq
    </select>
    
    
</mapper>