<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.shop.web.member.repository.master.MbMemberJoinCertificationHistoryDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
    <sql id="select-columns">
    	member_join_crtfc_hist_seq, hdphn_no_text, crtfc_no_text, crtfc_success_yn, crtfc_dtm, rgst_dtm
    </sql>
    
    <sql id="pk-columns">
    	member_join_crtfc_hist_seq = #{memberJoinCrtfcHistSeq, jdbcType=BIGINT}
    </sql>
    
    <select id="select" parameterType="kr.co.shop.web.member.model.master.MbMemberJoinCertificationHistory" resultType="kr.co.shop.web.member.model.master.MbMemberJoinCertificationHistory">
    
     /*+ kr.co.shop.web.member.repository.master.MbMemberJoinCertificationHistoryDao.select [기본 조회 쿼리] [Generator] */
    
		SELECT 
			 <include refid="select-columns" />
		FROM 
			mb_member_join_certification_history
		<where> 
			<if test="memberJoinCrtfcHistSeq != null"> 
				 member_join_crtfc_hist_seq = #{memberJoinCrtfcHistSeq, jdbcType=BIGINT}
			</if> 
			<if test="hdphnNoText != null"> 
				 AND hdphn_no_text = #{hdphnNoText, jdbcType=VARCHAR}
			</if> 
			<if test="crtfcNoText != null"> 
				 AND crtfc_no_text = #{crtfcNoText, jdbcType=VARCHAR}
			</if> 
			<if test="crtfcSuccessYn != null"> 
				 AND crtfc_success_yn = #{crtfcSuccessYn, jdbcType=CHAR}
			</if> 
			<if test="crtfcDtm != null"> 
				 AND crtfc_dtm = #{crtfcDtm, jdbcType=TIMESTAMP}
			</if> 
			<if test="rgstDtm != null"> 
				 AND rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}
			</if> 
		</where>  
    </select>
    
    <!--
    	※ 경고
		이 insert SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    
	<insert id="insert" useGeneratedKeys="true" keyProperty="memberJoinCrtfcHistSeq">

     /*+ kr.co.shop.web.member.repository.master.MbMemberJoinCertificationHistoryDao.insert [기본 insert 쿼리] [Generator] */
    
		INSERT INTO mb_member_join_certification_history
			 ( hdphn_no_text, crtfc_no_text, crtfc_success_yn, crtfc_dtm, rgst_dtm ) 

		VALUES 
			 ( #{hdphnNoText, jdbcType=VARCHAR}, #{crtfcNoText, jdbcType=VARCHAR}, #{crtfcSuccessYn, jdbcType=CHAR}, <choose><when test="crtfcDtm != null">#{crtfcDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose>, <choose><when test="rgstDtm != null">#{rgstDtm, jdbcType=TIMESTAMP}</when><otherwise>getdate()</otherwise></choose> )  
    </insert>
    
    <!--
    	※ 경고
		이 update SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <update id="update" parameterType="kr.co.shop.web.member.model.master.MbMemberJoinCertificationHistory">
    
     /*+ kr.co.shop.web.member.repository.master.MbMemberJoinCertificationHistoryDao.update [기본 update 쿼리] [Generator] */
    
		UPDATE mb_member_join_certification_history
		<set> 
			<if test="memberJoinCrtfcHistSeq != null"> 
				member_join_crtfc_hist_seq = #{memberJoinCrtfcHistSeq, jdbcType=BIGINT}, 
			</if> 
			<if test="hdphnNoText != null"> 
				hdphn_no_text = #{hdphnNoText, jdbcType=VARCHAR}, 
			</if> 
			<if test="crtfcNoText != null"> 
				crtfc_no_text = #{crtfcNoText, jdbcType=VARCHAR}, 
			</if> 
			<if test="crtfcSuccessYn != null"> 
				crtfc_success_yn = #{crtfcSuccessYn, jdbcType=CHAR}, 
			</if> 
			<if test="crtfcDtm != null"> 
				crtfc_dtm = #{crtfcDtm, jdbcType=TIMESTAMP}, 
			</if> 
			<if test="rgstDtm != null"> 
				rgst_dtm = #{rgstDtm, jdbcType=TIMESTAMP}, 
			</if> 
		</set> 
		WHERE 
			 member_join_crtfc_hist_seq = #{memberJoinCrtfcHistSeq, jdbcType=BIGINT}   
    </update>
    
    <!--
    	※ 경고
		이 delete SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <delete id="delete" parameterType="kr.co.shop.web.member.model.master.MbMemberJoinCertificationHistory">
    
     /*+ kr.co.shop.web.member.repository.master.MbMemberJoinCertificationHistoryDao.delete [기본 delete 쿼리] [Generator] */
    
		DELETE FROM mb_member_join_certification_history
		WHERE 
			 member_join_crtfc_hist_seq = #{memberJoinCrtfcHistSeq, jdbcType=BIGINT}  
    </delete>
</mapper>