<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.shop.web.giftcard.repository.master.RvGiftCardComparisonDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.shop.web.giftcard.model.master.RvGiftCardComparison">
    
     /*+ kr.co.shop.web.giftcard.repository.master.RvGiftCardComparisonDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */  
    
		SELECT 
			<include refid="select-columns" />
		FROM 
			rv_gift_card_comparison
 
    </select>
    
    <select id="selectUseHistory" parameterType="Pageable" resultType="kr.co.shop.web.giftcard.model.master.RvGiftCardComparison">
    
     /*+ kr.co.shop.web.giftcard.repository.master.RvGiftCardComparisonDao.selectUseHistory [이용내역 조회 쿼리] [YSW] */  
    
		SELECT 
			<include refid="select-columns" />
			, (SELECT c.PYMNT_MEANS_CODE from OC_GIFT_CARD_ORDER b, OC_GIFT_CARD_ORDER_PAYMENT c WHERE b.GIFT_CARD_ORDER_NO = c.GIFT_CARD_ORDER_NO and b.GIFT_CARD_APRV_NO_TEXT = a.APPR_NO) AS pymnt_means_code
		FROM 
			rv_gift_card_comparison a
		<where>
			<if test="bean.voucherFrom != null"> 
				 voucher_from = #{bean.voucherFrom, jdbcType=VARCHAR}
			</if>
		</where>
		<if test="bean.historyStartDtm != null">
		<![CDATA[
			and tran_dt >= #{bean.historyStartDtm}
		]]>
		</if>
		<if test="bean.historyEndDtm != null">
		<![CDATA[
			and tran_dt <= #{bean.historyEndDtm}
		]]>
		</if>
		<![CDATA[
		ORDER BY tran_dt + tran_hms DESC
		]]>
		<include refid="Paging.mssql" />
		
    </select>

</mapper>