<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.shop.web.claim.repository.master.OcClaimProductDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.shop.web.claim.model.master.OcClaimProduct">
    
     /*+ kr.co.shop.web.claim.repository.master.OcClaimProductDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */  
    
		SELECT 
			<include refid="select-columns" />
		FROM 
			OC_CLAIM_PRODUCT
		WHERE 
			<include refid="pk-columns" /> 
    </select>
    
    <select id="selectClaimProductList" parameterType="kr.co.shop.web.claim.model.master.OcClaim" resultType="kr.co.shop.web.claim.model.master.OcClaimProduct">
    
    /*+ kr.co.shop.web.claim.repository.master.OcClaimProductDao.selectClaimProductList [클레임 상품 목록 조회] [이강수] */  
    
		  SELECT B.ORG_ORDER_NO
			   , B.CLM_NO
			   , B.CLM_DTM
			   , A.CLM_PRDT_SEQ
			   , A.PRDT_NO
			   , A.PRDT_OPTN_NO
			   , A.PRDT_TYPE_CODE
			   , A.VNDR_NO
			   , A.CHNNL_NO
			   , A.CTGR_NO
			   , B.SITE_NO
			   , A.VNDR_PRDT_NO_TEXT
			   , A.MMNY_PRDT_YN
			   , C.BRAND_NAME
			   , RTRIM( A.PRDT_NAME ) AS PRDT_NAME
			   , FN_CODE_VALUE('PRDT_COLOR_CODE', A.PRDT_COLOR_CODE)		AS PRDT_COLOR_CODE_NAME
			   , RTRIM( A.OPTN_NAME ) AS OPTN_NAME
			   , A.ORDER_AMT
			   , A.PRDT_NORMAL_AMT
			   , A.SELL_AMT
			   , A.OPTN_ADD_AMT
			   , TO_CHAR(A.ORDER_AMT, 'FM999,999,999,999,999' ) AS STR_ORDER_AMT
			   , A.VNDR_NAME
			   , A.CLM_RSN_CODE
			   , FN_CODE_VALUE('CLM_RSN_CODE', A.CLM_RSN_CODE)				AS CLM_RSN_CODE_NAME
			   , A.CLM_ETC_RSN_TEXT
			   , A.CLM_PRDT_STAT_CODE
			   , FN_CODE_VALUE('CLM_PRDT_STAT_CODE', A.CLM_PRDT_STAT_CODE)		AS CLM_PRDT_STAT_CODE_NAME
			   , FN_CODE_ADDINFO('CLM_PRDT_STAT_CODE', A.CLM_PRDT_STAT_CODE, 2)	AS CLM_PRDT_STAT_CODE_ADD_INFO2
			   , (SELECT PRDT_NAME
					FROM OC_CLAIM_PRODUCT
				   WHERE CLM_NO				= A.CLM_NO
				     AND UP_ORDER_PRDT_SEQ	= A.ORDER_PRDT_SEQ )				AS GIFT_NAME -- 사은품 명
			   , A.CLM_PROC_TYPE_CODE
			   , A.CLM_PROC_CONT_TEXT
			   , FN_CODE_VALUE('CLM_PROC_TYPE_CODE', A.CLM_PROC_TYPE_CODE)	AS CLM_PROC_TYPE_CODE_NAME
			   , A.CSTMR_ALERT_CONT_TEXT	-- 고객알림내용
			   , CASE
			     WHEN MMNY_PRDT_YN = 'Y'
			     THEN (
			     		SELECT NVL(SUM(ORDER_AMT), 0)
			     		  FROM OC_CLAIM_PRODUCT
			     		 WHERE CLM_NO = #{clmNo, jdbcType=VARCHAR}
			     		   AND MMNY_PRDT_YN = 'Y'
			     		   AND PRDT_TYPE_CODE = #{prdtTypeCode, jdbcType=VARCHAR}
			          )
			     ELSE (
			     		SELECT NVL(SUM(ORDER_AMT), 0)
			     		  FROM OC_CLAIM_PRODUCT
			     		 WHERE CLM_NO = #{clmNo, jdbcType=VARCHAR}
			     		   AND VNDR_NO = A.VNDR_NO
			     		   AND PRDT_TYPE_CODE = #{prdtTypeCode, jdbcType=VARCHAR}
			          )
			     END AS REFUND_DLVY_AMT
			   , CASE
			     WHEN A.MMNY_PRDT_YN = 'Y'
				 THEN NVL((
						SELECT ORDER_AMT
						  FROM OC_ORDER_PRODUCT
						 WHERE MMNY_PRDT_YN = 'Y'
						   AND ORDER_NO = A.ORDER_NO
						   AND PRDT_TYPE_CODE = #{prdtTypeCode, jdbcType=VARCHAR}
					  ), 0)
			     ELSE NVL((
						SELECT ORDER_AMT
						  FROM OC_ORDER_PRODUCT
						 WHERE VNDR_NO = A.VNDR_NO
						   AND ORDER_NO = A.ORDER_NO
						   AND PRDT_TYPE_CODE = #{prdtTypeCode, jdbcType=VARCHAR}
					  ), 0)
				 END AS VNDR_ORDER_DLVY_AMT
			   , E.PRDT_OPTN_NO AS CHANGE_PRDT_OPTN_NO -- 재배송상품 옵션번호
			   , E.OPTN_NAME AS CHANGE_OPTN_NAME -- 재배송상품 옵션명
			   , E.LOGIS_VNDR_CODE AS CHANGE_LOGIS_VNDR_CODE -- 재배송상품 택배사코드
			   , E.LOGIS_VNDR_CODE_NAME AS CHANGE_LOGIS_VNDR_CODE_NAME -- 재배송상품 택배사코드명
			   , E.WAYBIL_NO_TEXT AS CHANGE_WAYBIL_NO_TEXT -- 재배송상품 운송장번호
			   , E.DLVY_STAT_CODE_NAME AS CHANGE_DLVY_STAT_CODE_NAME -- 재배송상품 배송상태
			   , E.CLM_PRDT_STAT_CODE AS CHANGE_CLM_PRDT_STAT_CODE -- 재배송상품 상태코드
			   ----------- S : 교환/반품 배송 관련 칼럼 ------------------------------------------------
			   , FN_CODE_VALUE('LOGIS_VNDR_CODE', A.LOGIS_VNDR_CODE)		AS LOGIS_VNDR_CODE_NAME
			   , A.WAYBIL_NO_TEXT
			   , FN_CODE_VALUE('DLVY_STAT_CODE', (SELECT DLVY_STAT_CODE
														FROM OC_ORDER_DELIVERY_HISTORY
													   WHERE CLM_NO			= A.CLM_NO
														 AND CLM_PRDT_SEQ	= A.CLM_PRDT_SEQ))	AS DLVY_STAT_CODE_NAME
			   ----------- E : 교환/반품 배송 관련 칼럼 ------------------------------------------------
			   --------- S : 상품관련파일 --------------------
			   , D.FILE_TYPE
			   , D.IMAGE_NAME
			   , D.IMAGE_PATH_TEXT
			   , D.IMAGE_URL
			   , D.ALTRN_TEXT
			   --------- E : 상품관련파일 --------------------		
		    FROM OC_CLAIM_PRODUCT						A
			JOIN OC_CLAIM								B ON A.CLM_NO		= B.CLM_NO
			LEFT OUTER JOIN DP_BRAND					C ON A.BRAND_NO	= C.BRAND_NO
			LEFT OUTER JOIN PD_PRODUCT_RELATION_FILE    D
			  ON A.PRDT_NO = D.PRDT_NO
		     AND D.PRDT_RLTN_FILE_SEQ = #{prdtRltnFileSeq, jdbcType=INTEGER}
			LEFT OUTER JOIN ( -- 재배송상품 정보
					SELECT OCP.CLM_NO
						 , OCP.CLM_PRDT_SEQ
						 , OCP.UP_CLM_PRDT_SEQ
					     , OCP.PRDT_OPTN_NO
						 , OCP.OPTN_NAME
						 , OCP.CLM_PRDT_STAT_CODE
						 , OCP.LOGIS_VNDR_CODE
						 , FN_CODE_VALUE('LOGIS_VNDR_CODE', OCP.LOGIS_VNDR_CODE) AS LOGIS_VNDR_CODE_NAME
						 , OCP.WAYBIL_NO_TEXT
						 , FN_CODE_VALUE('DLVY_STAT_CODE', (SELECT DLVY_STAT_CODE
														FROM OC_ORDER_DELIVERY_HISTORY
													   WHERE CLM_NO			= OCP.CLM_NO
														 AND CLM_PRDT_SEQ	= OCP.CLM_PRDT_SEQ))	AS DLVY_STAT_CODE_NAME
					  FROM OC_CLAIM_PRODUCT OCP
			     ) E
			  ON A.CLM_NO		= E.CLM_NO
			 AND A.CLM_PRDT_SEQ	= E.UP_CLM_PRDT_SEQ
		   WHERE B.CLM_NO = #{clmNo, jdbcType=VARCHAR}
		     AND NVL( A.UP_CLM_PRDT_SEQ, '' ) = '' 	-- 교환배송 상품 제외(행이 아닌 회수상품 기준 열로 붙여서 가져옴)
		<if test='prdtTypeCodeList != null'>
			 AND A.PRDT_TYPE_CODE NOT IN				-- 사은품, 배송비 제외
			 <foreach item="item" index="index" collection="prdtTypeCodeList" open="(" close=")" separator="," >
			 	 #{item}
			 </foreach>
		</if>
    	ORDER BY A.CLM_PRDT_SEQ
		
    </select>
    
    <select id="selectOrgClaimProductList" parameterType="kr.co.shop.web.claim.model.master.OcClaimProduct" resultType="kr.co.shop.web.claim.model.master.OcClaimProduct">
	/*+ kr.co.shop.web.claim.repository.master.OcClaimProductDao.selectOrgClaimProductList [원 주문 클레임 상품 목록 조회 쿼리] [KTH] */
		SELECT A.CLM_NO
			 , A.CLM_PRDT_SEQ
			 , A.UP_CLM_PRDT_SEQ
			 , A.ORG_ORDER_NO
			 , A.ORDER_NO
			 , A.ORDER_PRDT_SEQ
			 , A.UP_ORDER_PRDT_SEQ
			 , A.PRDT_NO
			 , A.PRDT_OPTN_NO
			 , A.PRDT_NAME
			 , A.ENG_PRDT_NAME
			 , A.OPTN_NAME
			 , A.PRDT_TYPE_CODE
			 , A.STYLE_INFO
			 , A.PRDT_COLOR_CODE
			 , A.VNDR_NO
			 , A.VNDR_NAME
			 , A.VNDR_PRDT_NO_TEXT
			 , A.BRAND_NO
			 , A.CHNNL_NO
			 , A.STD_CTGR_NO
			 , A.CTGR_NO
			 , A.EVENT_NO
			 , A.PLNDP_NO
			 , A.MMNY_PRDT_YN
			 , A.EMP_DSCNT_YN
			 , A.ORDER_MNFCT_YN
			 , A.DPRC_EXCEPT_YN
			 , A.FREE_DLVY_YN
			 , A.ORDER_QTY
			 , A.PRDT_NORMAL_AMT
			 , A.PRDT_SELL_AMT
			 , A.OPTN_ADD_AMT
			 , A.SELL_AMT
			 , A.EMP_DSCNT_RATE
			 , A.EMP_AMT
			 , A.TOTAL_DSCNT_AMT
			 , A.CPN_DSCNT_AMT
			 , A.ORDER_AMT
			 , A.VNDR_CMSN_RATE
			 , A.CLM_RSN_CODE
			 , A.CLM_ETC_RSN_TEXT
			 , A.CLM_QTY
			 , A.CSTMR_ALERT_CONT_TEXT
			 , A.CLM_PROC_TYPE_CODE
			 , A.CLM_PROC_CONT_TEXT
			 , A.LOGIS_VNDR_CODE
			 , A.WAYBIL_NO_TEXT
			 , A.CLM_IMPSBLT_RSN_CODE
			 , A.CLM_IMPSBLT_CONT_TEXT
			 , A.CLM_PRDT_STAT_CODE
			 , A.CLM_CRT_ORDER_NO
			 , A.RECPT_YN
			 , A.RGSTER_NO
			 , A.RGST_DTM
			 , A.MODER_NO
			 , A.MOD_DTM
			 , FN_CODE_VALUE('CLM_PRDT_STAT_CODE', A.CLM_PRDT_STAT_CODE) AS CLM_PRDT_STAT_CODE_NAME
		     , C.ORDER_PRDT_SEQ AS ORDER_GIFT_PRDT_SEQ
		     , C.PRDT_NAME AS GIFT_PRDT_NAME
		     , FN_CODE_VALUE( 'STOCK_GBN_CODE' , D.STOCK_GBN_CODE ) AS STOCK_GBN_CODE_NAME
		     , FN_CODE_VALUE( 'DLVY_STAT_CODE' , D.DLVY_STAT_CODE ) AS DLVY_STAT_CODE_NAME
		     , FN_CODE_VALUE( 'LOGIS_VNDR_CODE' , D.LOGIS_VNDR_CODE ) AS LOGIS_VNDR_CODE_NAME
		     , D.WAYBIL_NO_TEXT AS DELIVERY_WAYBIL_NO_TEXT
		     , E.CLM_GBN_CODE
			 , F.FREE_DLVY_STDR_AMT
			 , F.DLVY_AMT AS STDR_DLVY_AMT
		  FROM OC_CLAIM_PRODUCT A
		  JOIN OC_ORDER_PRODUCT B
		    ON A.ORDER_NO = B.ORDER_NO
		   AND A.ORDER_PRDT_SEQ = B.ORDER_PRDT_SEQ
		  LEFT OUTER JOIN (
				 SELECT ORDER_NO
					  , UP_ORDER_PRDT_SEQ
					  , ORDER_PRDT_SEQ
					  , PRDT_NO
					  , PRDT_OPTN_NO
					  , PRDT_NAME
					  , ENG_PRDT_NAME
					  , OPTN_NAME
					  , PRDT_TYPE_CODE
					  , STYLE_INFO
					  , PRDT_COLOR_CODE
				   FROM OC_ORDER_PRODUCT 
				  WHERE PRDT_TYPE_CODE = #{prdtTypeCodeGift, jdbcType=VARCHAR}
			   ) C --사은품(본상품에 컬럼으로 추가)
			ON B.ORDER_NO = C.ORDER_NO
		   AND B.ORDER_PRDT_SEQ = C.UP_ORDER_PRDT_SEQ 
		  LEFT OUTER JOIN (
				SELECT ORDER_NO
					 , ORDER_PRDT_SEQ
					 , ORDER_DLVY_HIST_SEQ
					 , STOCK_GBN_CODE
					 , LOGIS_VNDR_CODE
					 , WAYBIL_NO_TEXT
					 , DLVY_PROC_DTM
					 , DLVY_STAT_CODE
					 , RANK( )OVER( PARTITION BY ORDER_NO, ORDER_PRDT_SEQ ORDER BY  ORDER_DLVY_HIST_SEQ  DESC ) AS RANK_SEQ 
				  FROM OC_ORDER_DELIVERY_HISTORY
				 WHERE CLM_NO IS NULL
			   ) D -- 주문기준 배송정보
		    ON B.ORDER_NO = D.ORDER_NO
		   AND B.ORDER_PRDT_SEQ = D.ORDER_PRDT_SEQ
		   AND D.RANK_SEQ = 1
		  JOIN OC_CLAIM E
		    ON A.CLM_NO = E.CLM_NO
		  LEFT OUTER JOIN VD_VENDOR F
		    ON A.VNDR_NO = F.VNDR_NO
		<where>
		   AND (A.UP_CLM_PRDT_SEQ IS NULL OR A.UP_CLM_PRDT_SEQ = '')
			<if test="orgOrderNo != null"> 
				AND A.ORG_ORDER_NO = #{orgOrderNo, jdbcType=VARCHAR}
			</if>
			<if test="clmNo != null"> 
				AND A.CLM_NO = #{clmNo, jdbcType=VARCHAR}
			</if>
			<if test="clmPrdtSeq != null"> 
				AND A.CLM_PRDT_SEQ = #{clmPrdtSeq, jdbcType=TINYINT}
			</if>
		</where>
	</select>

	<update id="updateClaimProductStatCode" parameterType="kr.co.shop.web.claim.model.master.OcClaimProduct">
	
	/*+ kr.co.shop.web.claim.repository.master.OcClaimProductDao.updateClaimProductStatCode [클레임상품 상태코드 업데이트] [이강수] */
		
		UPDATE OC_CLAIM_PRODUCT
		<set>
				MOD_DTM 			= SYSDATE
			  , MODER_NO 			= #{moderNo, jdbcType=VARCHAR}
			  , CLM_PRDT_STAT_CODE 	= #{clmPrdtStatCode, jdbcType=VARCHAR}
		</set>
		 WHERE CLM_NO = #{clmNo, jdbcType=VARCHAR}
		
	</update>
	
	<update id="updateClmRsnCodeText" parameterType="kr.co.shop.web.claim.model.master.OcClaimProduct">
	
	/*+ kr.co.shop.web.claim.repository.master.OcClaimProductDao.updateClmRsnCodeText [클레임사유코드/클레임기타사유 수정] [이강수] */

		UPDATE OC_CLAIM_PRODUCT
		<set>
				MOD_DTM 			= SYSDATE
			  , MODER_NO 			= #{moderNo, jdbcType=VARCHAR}
			  , CLM_RSN_CODE 		= #{clmRsnCode, jdbcType=VARCHAR}
			<if test='clmEtcRsnText != null and clmEtcRsnText != ""'>
			  , CLM_ETC_RSN_TEXT	= #{clmEtcRsnText, jdbcType=VARCHAR}
			</if>
		</set>
		 WHERE CLM_NO 		= #{clmNo, jdbcType=VARCHAR} 
		   AND CLM_PRDT_SEQ = #{clmPrdtSeq, jdbcType=INTEGER}
		   
	</update>
	
	<update id="updateClmChangeOptn" parameterType="kr.co.shop.web.claim.model.master.OcClaimProduct">
	/*+ kr.co.shop.web.claim.repository.master.OcClaimProductDao.updateClmChangeOptn [교환대상 상품 수정] [KTH] */
		UPDATE OC_CLAIM_PRODUCT
		<set>
				MOD_DTM 			= SYSDATE
			  , MODER_NO 			= #{moderNo, jdbcType=VARCHAR}
			  , CLM_RSN_CODE 		= #{clmRsnCode, jdbcType=VARCHAR}
			<if test='clmEtcRsnText != null and clmEtcRsnText != ""'>
			  , CLM_ETC_RSN_TEXT	= #{clmEtcRsnText, jdbcType=VARCHAR}
			</if>
			<if test='changePrdtOptnNo != null and changePrdtOptnNo != ""'>
			  , PRDT_OPTN_NO	= #{changePrdtOptnNo, jdbcType=VARCHAR}
			</if>
			<if test='changeOptnName != null and changeOptnName != ""'>
			  , OPTN_NAME	= #{changeOptnName, jdbcType=VARCHAR}
			</if>
		</set>
		 WHERE CLM_NO 		= #{clmNo, jdbcType=VARCHAR} 
		   AND UP_CLM_PRDT_SEQ = #{clmPrdtSeq, jdbcType=INTEGER}
	</update>
	
	<insert id="insertClaimProduct" parameterType="kr.co.shop.web.claim.model.master.OcClaimProduct">
		/*+ kr.co.shop.web.claim.repository.master.OcClaimProductDao.insertClaimProduct [클레임 상품 저장] [KTH] */
		<selectKey resultType="short" keyProperty="clmPrdtSeq" order="BEFORE">
			SELECT NVL(MAX(CLM_PRDT_SEQ), 0) + 1
			  FROM OC_CLAIM_PRODUCT
			 WHERE CLM_NO = #{clmNo, jdbcType=VARCHAR}
		</selectKey>
		INSERT INTO OC_CLAIM_PRODUCT
			 (
			   CLM_NO
			 , CLM_PRDT_SEQ
			<if test="upClmPrdtSeq != null and upClmPrdtSeq != ''">
			 , UP_CLM_PRDT_SEQ
			</if>
			 , ORG_ORDER_NO
			 , ORDER_NO
			 , ORDER_PRDT_SEQ
			 , UP_ORDER_PRDT_SEQ
			 , PRDT_NO
			 , PRDT_OPTN_NO
			 , OPTN_NAME
			 , ENG_PRDT_NAME
			 , PRDT_NAME
			 , PRDT_TYPE_CODE
			 , STYLE_INFO
			 , PRDT_COLOR_CODE
			 , VNDR_NO
			 , VNDR_NAME
			 , VNDR_PRDT_NO_TEXT
			 , BRAND_NO
			 , CHNNL_NO
			 , STD_CTGR_NO
			 , CTGR_NO
			 , EVENT_NO
			 , PLNDP_NO
			 , MMNY_PRDT_YN
			 , EMP_DSCNT_YN
			 , ORDER_MNFCT_YN
			 , DPRC_EXCEPT_YN
			 , FREE_DLVY_YN
			 , ORDER_QTY
			 , PRDT_NORMAL_AMT
			 , PRDT_SELL_AMT
			 , OPTN_ADD_AMT
			 , SELL_AMT
			 , EMP_DSCNT_RATE
			 , EMP_AMT
			 , TOTAL_DSCNT_AMT
			 , CPN_DSCNT_AMT
			 , ORDER_AMT
			 , VNDR_CMSN_RATE
			 , CLM_RSN_CODE
			 , CLM_ETC_RSN_TEXT
			 , CLM_QTY
			 , CSTMR_ALERT_CONT_TEXT
			<if test="clmProcTypeCode != null and clmProcTypeCode != ''"> 
			 , CLM_PROC_TYPE_CODE
			</if>
			<if test="clmProcContText != null and clmProcContText != ''"> 
			 , CLM_PROC_CONT_TEXT
			</if>
			 , LOGIS_VNDR_CODE
			 , WAYBIL_NO_TEXT
			 , CLM_IMPSBLT_RSN_CODE
			 , CLM_IMPSBLT_CONT_TEXT
			 , CLM_PRDT_STAT_CODE
			 , CLM_CRT_ORDER_NO
			 , RECPT_YN
			 , RGSTER_NO
			 , RGST_DTM
			 , MODER_NO
			 , MOD_DTM
			 )
		SELECT
			   #{clmNo, jdbcType=VARCHAR}
			 , #{clmPrdtSeq, jdbcType=TINYINT}
			<if test="upClmPrdtSeq != null and upClmPrdtSeq != ''">
			 , #{upClmPrdtSeq, jdbcType=TINYINT}
			</if>
			 , (
				SELECT ORG_ORDER_NO
				  FROM OC_ORDER
				 WHERE ORDER_NO = #{orderNo, jdbcType=VARCHAR}
			   )
			 , ORDER_NO
			 , ORDER_PRDT_SEQ
			 , UP_ORDER_PRDT_SEQ
			 , PRDT_NO
			<choose>
				<when test="changePrdtOptnNo != null and changePrdtOptnNo != ''">
			 , #{changePrdtOptnNo, jdbcType=VARCHAR}
			 , #{changeOptnName, jdbcType=VARCHAR}
				</when>
				<otherwise>
			 , PRDT_OPTN_NO
			 , OPTN_NAME
				</otherwise>
			</choose>
			 , ENG_PRDT_NAME
			 , PRDT_NAME
			 , PRDT_TYPE_CODE
			 , STYLE_INFO
			 , PRDT_COLOR_CODE
			 , VNDR_NO
			 , CASE WHEN VNDR_NAME IS NULL
					THEN (SELECT VNDR_NAME FROM VD_VENDOR WHERE VNDR_NO = A.VNDR_NO)
					ELSE VNDR_NAME
			   END AS VNDR_NAME
			 , VNDR_PRDT_NO_TEXT
			 , BRAND_NO
			 , CHNNL_NO
			 , STD_CTGR_NO
			 , CTGR_NO
			 , EVENT_NO
			 , PLNDP_NO
			 , MMNY_PRDT_YN
			 , EMP_DSCNT_YN
			 , ORDER_MNFCT_YN
			 , DPRC_EXCEPT_YN
			 , FREE_DLVY_YN
			 , ORDER_QTY
			 , PRDT_NORMAL_AMT
			 , PRDT_SELL_AMT
			 , OPTN_ADD_AMT
			 , SELL_AMT
			 , EMP_DSCNT_RATE
			 , EMP_AMT
			 , TOTAL_DSCNT_AMT
			 , CPN_DSCNT_AMT
			 , ORDER_AMT
			 , VNDR_CMSN_RATE
			 , #{clmRsnCode, jdbcType=VARCHAR}			-- 클레임사유코드
			 , #{clmEtcRsnText, jdbcType=VARCHAR}		-- 클레임기타사유
			 , 1										-- 클레임수량
			 , #{cstmrAlertContText, jdbcType=VARCHAR}	-- 고객알림내용
			<if test="clmProcTypeCode != null"> 
			 , #{clmProcTypeCode, jdbcType=VARCHAR}		-- 클레임처리유형코드
			</if>
			<if test="clmProcContText != null"> 
			 , #{clmProcContText, jdbcType=VARCHAR}		-- 클레임처리내용
			</if>
			 , NULL										-- 택배사코드
			 , NULL										-- 송장번호
			 , NULL										-- 클레임불가사유코드
			 , NULL										-- 클레임불가내용
			 , #{clmPrdtStatCode, jdbcType=VARCHAR}		-- 클레임상품상태코드
			 , NULL
			 , 'N'										-- 수령여부
			 , #{rgsterNo, jdbcType=VARCHAR}
			 , SYSDATE
			 , #{moderNo, jdbcType=VARCHAR}
			 , SYSDATE
		  FROM OC_ORDER_PRODUCT A
		 WHERE A.ORDER_NO = #{orderNo, jdbcType=VARCHAR}
		   AND A.ORDER_PRDT_SEQ = #{orderPrdtSeq, jdbcType=TINYINT}
	</insert>
	
    <select id="selectOrderMultiBuyPromoCheckList" parameterType="kr.co.shop.web.claim.model.master.OcClaimProduct" resultType="kr.co.shop.web.claim.vo.OcClaimPromoVO">
		/*+ kr.co.shop.web.claim.repository.master.OcClaimProductDao.selectOrderMultiBuyPromoCheckList [원 주문에 걸린 다족구매 프로모션 현황 조회(현재 클레임 포함)] [KTH] */  
		SELECT B.ORDER_NO
			 , B.ORDER_PRDT_SEQ
			 , B.PRDT_NORMAL_AMT
			 , B.PRDT_SELL_AMT
			 , B.OPTN_ADD_AMT
			 , B.SELL_AMT
			 , B.TOTAL_DSCNT_AMT
			 , B.CPN_DSCNT_AMT
			 , B.ORDER_AMT
			 , B.MMNY_PRDT_YN
			 , B.VNDR_NO
			 , C.CLM_NO AS NOW_CLM_NO
			 , C.CLM_PRDT_SEQ AS NOW_CLM_PRDT_SEQ
			 , D.DSCNT_TYPE
			 , D.DSCNT_VALUE
			 , D.DSCNT_AMT
			 , D.PROMO_NO
			 , D.APPLY_PROMO_SEQ
			 , D.CHNG_DSCNT_VALUE
			 , D.CHNG_DSCNT_AMT
			 , D.CLM_NO
			 , E.CLM_NO AS CANCELED_CLM_NO
		  FROM OC_ORDER A
		  JOIN OC_ORDER_PRODUCT B
		    ON A.ORDER_NO = B.ORDER_NO
		  LEFT OUTER JOIN OC_CLAIM_PRODUCT C
		    ON B.ORDER_NO = C.ORDER_NO
		   AND B.ORDER_PRDT_SEQ = C.ORDER_PRDT_SEQ
		  JOIN OC_ORDER_PRODUCT_APPLY_PROMOTION D
		    ON B.ORDER_NO = D.ORDER_NO
		   AND B.ORDER_PRDT_SEQ = D.ORDER_PRDT_SEQ
		  LEFT OUTER JOIN (
				SELECT ORDER_NO
				     , ORG_ORDER_NO
				     , ORDER_PRDT_SEQ
					 , CLM_NO
					 , CLM_PRDT_SEQ
				  FROM OC_CLAIM_PRODUCT C
				 WHERE CLM_PRDT_STAT_CODE IN 
			 <foreach item="item" index="index" collection="clmPrdtStatCodes" open="(" close=")" separator="," >
			 	 #{item}
			 </foreach>
		       ) E
		    ON B.ORDER_NO = E.ORDER_NO
		   AND B.ORDER_PRDT_SEQ = E.ORDER_PRDT_SEQ
		 WHERE A.ORDER_NO = #{orderNo, jdbcType=VARCHAR}
		   AND D.PROMO_TYPE_CODE = #{promoTypeCode, jdbcType=VARCHAR}
    </select>
	
</mapper>