<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.shop.web.afterService.repository.master.OcAsAcceptAttachFileDao">

    <!--
    	※ 경고
		이 select SQL은  Code Generator를 통하여 생성 되었습니다.
     	기본 쿼리 이고 수시로 변경 될 소지가 있기 떄문에 Generator로 변경 하는 것이 아닌 직접 수정은 하지 마십시요.
     	
    -->
    <select id="selectByPrimaryKey" parameterType="Object" resultType="kr.co.shop.web.afterService.model.master.OcAsAcceptAttachFile">
    
     /*+ kr.co.shop.web.afterService.repository.master.OcAsAcceptAttachFileDao.selectByPrimaryKey [기본 PK 조회 쿼리] [Generator] */  
    
		SELECT 
			<include refid="select-columns" />
		FROM 
			OC_AS_ACCEPT_ATTACH_FILE
		WHERE 
			<include refid="pk-columns" /> 
    </select>
    
     <insert id="insertOcAsAcceptAttchFile" parameterType="kr.co.shop.web.afterService.model.master.OcAsAcceptAttachFile">	
     	/*+ kr.co.shop.web.afterService.model.master.OcAsAcceptAttachFileDao.insertOcAsAtchFile [AS접수 상품 첨부파일] [이상호] */
     	<selectKey keyProperty="atchFileSeq" resultType="Int" order="BEFORE">
     		SELECT NVL(MAX(ATCH_FILE_SEQ),0)+1
			  FROM OC_AS_ACCEPT_ATTACH_FILE
			 WHERE AS_ACCEPT_NO=#{asAcceptNo, jdbcType=VARCHAR}
         AND AS_ACCEPT_PRDT_SEQ=#{asAcceptPrdtSeq, jdbcType=TINYINT}
     	</selectKey>
		INSERT INTO OC_AS_ACCEPT_ATTACH_FILE
			 ( AS_ACCEPT_NO
       		 , AS_ACCEPT_PRDT_SEQ
			 , ATCH_FILE_SEQ
			 , ATCH_FILE_NAME
			 , ATCH_FILE_PATH_TEXT
			 , ATCH_FILE_URL ) 
		VALUES 
			 ( #{asAcceptNo, jdbcType=VARCHAR}
       		 , #{asAcceptPrdtSeq, jdbcType=TINYINT}
			 , #{atchFileSeq, jdbcType=INTEGER}
			 , #{atchFileName, jdbcType=VARCHAR}
			 , #{atchFilePathText, jdbcType=VARCHAR}
			 , #{atchFileUrl, jdbcType=VARCHAR} )  
    </insert>
    
     <insert id="insertOcAsAcceptAttchModifyFile" parameterType="kr.co.shop.web.afterService.model.master.OcAsAcceptAttachFile">	
     	/*+ kr.co.shop.web.afterService.model.master.OcAsAcceptAttachFileDao.insertOcAsAcceptAttchModifyFile [AS접수 상품 수정 첨부파일] [이상호] */
<!--      	<selectKey keyProperty="atchFileSeq" resultType="Int" order="BEFORE"> -->
<!--      		SELECT NVL(MAX(ATCH_FILE_SEQ),0)+1 -->
<!-- 			  FROM OC_AS_ACCEPT_ATTACH_FILE -->
<!-- 			 WHERE AS_ACCEPT_NO=#{asAcceptNo, jdbcType=VARCHAR} -->
<!--          AND AS_ACCEPT_PRDT_SEQ=#{asAcceptPrdtSeq, jdbcType=TINYINT} -->
<!--      	</selectKey> -->
		INSERT INTO OC_AS_ACCEPT_ATTACH_FILE
			 ( AS_ACCEPT_NO
       		 , AS_ACCEPT_PRDT_SEQ
			 , ATCH_FILE_SEQ
			 , ATCH_FILE_NAME
			 , ATCH_FILE_PATH_TEXT
			 , ATCH_FILE_URL ) 
		VALUES 
			 ( #{asAcceptNo, jdbcType=VARCHAR}
       		 , #{asAcceptPrdtSeq, jdbcType=TINYINT}
			 , #{atchFileSeq, jdbcType=INTEGER}
			 , #{atchFileName, jdbcType=VARCHAR}
			 , #{atchFilePathText, jdbcType=VARCHAR}
			 , #{atchFileUrl, jdbcType=VARCHAR} )  
    </insert>
    
    
    <select id="selectAsAcceptAttachFileList" parameterType="kr.co.shop.web.afterService.model.master.OcAsAcceptAttachFile" resultType="kr.co.shop.web.afterService.model.master.OcAsAcceptAttachFile">

		/*+ kr.co.shop.web.afterService.model.master.OcAsAcceptAttachFileDao.selectAsAcceptAttachFileList [ AS 첨부파일상세를 조회하는 쿼리 ] [이상호] */

		SELECT ATCH_FILE_SEQ
			 , ATCH_FILE_NAME
			 , ATCH_FILE_PATH_TEXT
			 , ATCH_FILE_URL
		  FROM OC_AS_ACCEPT_ATTACH_FILE
		 WHERE AS_ACCEPT_NO = #{asAcceptNo,jdbcType=VARCHAR}

	</select>
	
	
	<delete id="deleteOcAsAcceptAttFile" parameterType="kr.co.shop.web.afterService.model.master.OcAsAcceptAttachFile">
	   
	   /*+ kr.co.shop.web.afterService.repository.master.OcAsAcceptAttachFileDao.deleteOcAsAcceptAttFile [delete 쿼리] [이상호] */
	  
		DELETE FROM OC_AS_ACCEPT_ATTACH_FILE
		WHERE 
		 as_accept_no = #{asAcceptNo, jdbcType=VARCHAR}  
	  </delete>
	  
	  <delete id="deleteOcAsAcceptAttachFileByAtchFileSeq" parameterType="kr.co.shop.web.afterService.model.master.OcAsAcceptAttachFile">
		/*+ kr.co.shop.web.afterService.repository.master.OcAsAcceptAttachFileDao.deleteOcAsAcceptAttachFileByAtchFileSeq [ removeAtchFileSeq를 키로 관리자공지의 첨부파일 하나를 삭제하는 쿼리  ] [이상호] */

		DELETE FROM OC_AS_ACCEPT_ATTACH_FILE
		 WHERE AS_ACCEPT_NO = #{asAcceptNo,      jdbcType=VARCHAR}
		   AND AS_ACCEPT_PRDT_SEQ = #{asAcceptPrdtSeq, jdbcType=TINYINT}
		   AND ATCH_FILE_SEQ  = #{atchFileSeq,		 jdbcType=INTEGER}

	</delete>
</mapper>